/* Styles for project */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(155, 81, 20);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

#quote-box {
  margin-bottom: 1rem;
}

#author {
  font-style: italic;
  color: gray;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
